
#thead {
	margin-top: 50px;
}

#thead table tr td {
	border: 2px solid rgba(0, 0, 0, 0.5);
	height: 30px;
	position: relative;
}

#thead table tr td:hover {
	outline: 1px solid lime;
}

#tbody {
	margin-top: 50px;
}

#tbody table tr td {
	border: 2px solid rgba(0, 0, 0, 0.5);
	height: 30px;
	position: relative;
}

#types {
	margin-top: 50px;
}

#types table tr td {
	border: 2px solid rgba(0, 0, 0, 0.5);
	position: relative;
}

#thead div.icons {
	position: absolute;
	bottom: 100%;
	width: 100px;
	padding: 5px 0px;
	text-align: center;
	background-color: black;
	border-radius: 5px;
	left: 50%;
	transform: translateX(-50%) translateY(-8px);
	opacity: 0;
	transition: all 0.4s ease-in-out;
}

#thead table tr td:hover div.icons {
	opacity: 1;
}

#thead table tr td span {
	display: block;
    width: 100%;
    height: 100%;
}

#thead table tr td input{
	height: 100%;
    border: 0;
    width: 100%;
    text-align: center;
    font-weight: 700;
}

#thead table tr:last-child td:last-child div.icons {
	display: none;
}

#thead div.icons::after {
	content: "";
    display: block;
    position: absolute;
    top: 80%;
    transform: rotate(-45deg) translate(-50%, -50%);
    z-index: -1;
    width: 10px;
    height: 10px;
    background-color: black;
    left: 50%;
}

#thead div.icons::before {
	content: "";
	display: block;
	width: 100%;
	height: 15px;
	position: absolute;
    bottom: -15px;
}

#thead div.icons a {
	margin: 0px 5px;
}

#thead div.icons a i.fa {
	font-size: 14px;
	color: red;
}

#types div.wrap {
	display: flex;
}

#types div.wrap div.left {
	width: 200px;
}

#types table tr td {
	width: calc(100% / 6);
}

#types div.last {
	text-align: right;
	margin-right: 10px;
}

#types div.last a {
	width: 30px;
	height: 30px;
	display: inline-block;
	background-color: black;
	color: yellow;
	font-weight: bold;
	font-size: 14px;
	position: relative;
	border-radius: 50%;
}

#types div.last a i.fa {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#types div.form-group:not(.active) {
	display: none;
}


