#table {
	margin-top: 10px;
}

#table table tr td {
	border: 2px solid rgba(0, 0, 0, 0.5);
	height: 30px;
	position: relative;
}

#table table tr td:hover {
	outline: 1px solid lime;
}

#tbody {
	margin-top: 10px;
}

#types table tr td {
	border: 2px solid rgba(0, 0, 0, 0.5);
	height: 30px;
	position: relative;
}

#types {
	margin-top: 10px;
}

#types div.item.first span {
	display: none;
}

#types div.item.first {
	width: 100%;
}
#types div.item.first input{
	width: 100%;
	border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

#types table tr td {
	border: 2px solid rgba(0, 0, 0, 0.5);
	position: relative;
	padding: 8px;
	vertical-align: top;
}

#table div.icons {
	position: absolute;
	bottom: 100%;
	width: 170px;
	padding: 5px 0px;
	text-align: center;
	background-color: black;
	border-radius: 5px;
	left: 50%;
	transform: translateX(-50%) translateY(-8px);
	display: none;
	/* opacity: 0; */
	/* pointer-events: none; */
	/* transition: all 0.4s ease-in-out; */
}

#table div.icons span {
	display: inline-block;
	position: absolute;
	right: 5px;
	top: 3px;
	color: red;
	font-weight: bold;
	line-height: 10px;
	font-size: 12px;
}

#table div.icons span:hover {
	cursor: pointer;
}

/* #table table tr td:focus div.icons {
	opacity: 1;
	pointer-events: all;
} */

#table table tr td {
	padding: 0;
}

#table table tr td input {
	height: 100%;
	border: 0;
	width: 100%;
	text-align: center;
	font-weight: 700;
	border: 1px solid transparent;
}

/* #table table tr:last-child td:last-child div.icons {
	display: none !important;
} */

#table div.icons::after {
	content: "";
	display: block;
	position: absolute;
	top: 80%;
	transform: rotate(-45deg) translate(-50%, -50%);
	z-index: -1;
	width: 10px;
	height: 10px;
	background-color: black;
	left: 50%;
}

#table div.icons::before {
	content: "";
	display: block;
	width: 100%;
	height: 15px;
	position: absolute;
	bottom: -15px;
}

#table div.icons a {
	margin: 0px 5px;
}

#table div.icons a i.fa {
	font-size: 14px;
	color: red;
}

#types div.wrap {
	display: flex;
}

#types div.wrap div.left {
	width: 100%;
}

#types table tr td {
	/* width: calc(100% / 6); */
}

#types table thead td {
	background-color: black;
}
#types table thead td a {
	font-size: 14px;
	color: red;
	margin: 0px 5px;
}

#types div.last {
	text-align: right;
}

#types div.last a {
	width: 20px;
	height: 20px;
	display: inline-block;
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 12px;
	position: relative;
}

#types div.last a i.fa {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#types div.form-group:not(.active) {
	display: none;
}